body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

/* Header - Nome da fazenda */
.header {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fpt-br%2Fprocurar%2Fs%25C3%25ADtio%2F&psig=AOvVaw3LBvzSU-PetsbwLzlFjNoB&ust=1730855238426000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPCQv7OAxIkDFQAAAAAdAAAAABAJ); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Seções específicas com imagem de fundo (Sobre nós, Produtos e Contatos) */
.section {
    padding: 60px 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fpt-br%2Fprocurar%2Fs%25C3%25ADtio%2F&psig=AOvVaw3LBvzSU-PetsbwLzlFjNoB&ust=1730855238426000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPCQv7OAxIkDFQAAAAAdAAAAABAJ'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
}

/* Seção de título */
.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #2e7d32;
}

/* Imagens de produtos */
.produto-img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.produto-img:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

/* Links sociais */
.social-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #66bb6a;
}
